<nav id="nav">
  <div class="innertube">
    <table>
      <tr>
	<td><a href="/"><img src="piqt.png" width="40"/></a></td><td></td><td><p class="logo">PIQT distributed pub/sub broker</p></td>
      </tr>
    </table>
    <ul>
      <li><a href="/">Top</a></li>
      <li><a href="download.html">Downloads</a></li>
      <li><a href="docs.html">Documents</a></li>
      <li><a href="develop.html">Developments</a></li>
      <li><a href="https://github.com/piax/piqt">GitHub</a></li>
    </ul>
  </div>
</nav>
